<robot name="azi" xmlns:xacro="http://ros.org/wiki/xacro">
	<link name="box">
		<visual>
			 <geometry>
			   	 <box size="1 1 1" />
			 </geometry>
			 <material name="Cyan">
			     <color rgba="0 1.0 1.0 1.0"/>
			 </material>
	   </visual>

		<inertial>
			 <inertia ixx="100"  ixy="0"  ixz="0" iyy="100" iyz="0" izz="100" />
			<origin xyz="6 2 1" rpy="0 0 0"/>
			<mass value="1"/>
		</inertial>


	</link>
	<link name="wheel_1">
		<visual>
			 <geometry>
			   	 <box size="1 1 1" />
			 </geometry>
			 <material name="Cyan">
			     <color rgba="0 1.0 1.0 1.0"/>
			 </material>
	   </visual>
	</link>
	<link name="wheel_2">

	<visual>
			<geometry>
			  	 <box size="1 1 1" />
			</geometry>
			<material name="Cyan">
			     <color rgba="0 1.0 1.0 1.0"/>
			 </material>
	   </visual>
	</link>
	<link name="wheel_3">
	<visual>
		<geometry>
			<box size="1 1 1" />
		</geometry>
			 <material name="Cyan">
			     <color rgba="0 1.0 1.0 1.0"/>
			 </material>
	   </visual>
	</link>
	<link name="wheel_4">
	<visual>
		     
			     <geometry>
			      	 <box size="1 1 1" />
			     </geometry>
			 <material name="Cyan">
			     <color rgba="0 1.0 1.0 1.0"/>
			 </material>
	   </visual>
	</link>

	<joint name="wh1_joint" type="fixed">
		<origin xyz="0 0 1" rpy="0 0 0"/>
		<parent link="box"/>
		<child link="wheel_1"/>
	</joint>

	<joint name="wh2_joint" type="fixed">
		<origin xyz="3 0 0" rpy="0 0 0"/>
		<parent link="box"/>
		<child link="wheel_2"/>
	</joint>

	<joint name="wh3_joint" type="fixed">
		<origin xyz="0 3 0" rpy="0 0 0"/>
		<parent link="box"/>
		<child link="wheel_3"/>
	</joint>

	<joint name="wh4_joint" type="fixed">
		<origin xyz="3 3 0" rpy="0 0 0"/>
		<parent link="box"/>
		<child link="wheel_4"/>
	</joint>

</robot>
